*{
margin: 0;
padding: 0;
}

.container .center{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;  
}

.center h1{
    color:  black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
